{% extends '@Vis/base.html.twig' %}

{% block style %}
    {% do addAssetComposer('twbs/bootstrap/dist/css/bootstrap.min.css') %}
    {% do addAssetComposer('twbs/bootstrap/dist/js/bootstrap.bundle.min.js') %}
    {% do addAssetComposer('avalynx/avalynx-form/dist/js/avalynx-form.js') %}
    {% do addAssetComposer('avalynx/avalynx-select/dist/js/avalynx-select.js') %}

    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid p-3">
        {{ ddm_render_form(ddm) }}
    </div>
{% endblock %}
